<!DOCTYPE html>
<html>
    <head>
        <title>IF ELSE DEMO</title>
    </head>
    <body>
        {% if login %}
        <h2>Welcome to Mr./Ms.{{name}}</h2>
            <ol>
                <li>Home</li>
                <li>profile</li>
                <li>Cart</li>
                <li>logout</li>
            </ol>
        {% else %}
        <ol>
            <li>Register</li>
            <li>Login</li>
        </ol>
        {% endif %}    
        <h3>Greatest of 2 num </h3>
        {% if a > b %}
           <h1> a is greater</h1>
        {% else %}
           <h1> b is greater</h1>
        {% endif %}
          

</html>